.banner-img {
  margin-top: 58px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  width: 100%;
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem !important;
}
.home-page-first{
  flex: 1;
  padding: 16px;
  text-align: start;
}
.home-page-second{
  flex: 4;
}

.product-content{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.card{
  background-color: transparent;
}

.card .card-body {
  text-align: start;
}
.card-name-price {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* flex-direction: column; */
  font-size: medium;
  color: #636363;
}

.card-name-price .card-title{
grid-column: 1/-1;
}
.card-name-price .card-price{
grid-column: 1/2;
}
.card-name-price .card-arrow{
grid-column: 4/4;
}

.addtoCart{
  background-color:var(--main-primary) ;
  border: none;
  padding: 8px;
}

.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 8px;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
  font-size: 14px;
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
filters
============== */
.filters h6 {
  margin-top: 75px;
  color: gray;
  border-bottom: 1px solid rgba(0, 0, 0, 0.65);
}

.filter-content{
  display: flex;
  flex-direction: column;
  padding: 8px;
} 

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: transparent;
  color: gray;
  width: fit-content;
  font-size: small;
  border: none;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}

@media (max-width: 576px) {
 .product-content{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .home-page{
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1400px) {
  
}
